.section2
    background-color: $beige
    font-family: "Roboto"
    display: flex
    flex-direction: column
    .texte2
        text-align: center
        margin: 3%
        h1
            font-size: 45px
            color: $grisfoncé
        h2
            font-weight: $light
            font-size: 25px
            color: $gris
    .images
        padding: 0% 5%
        display: flex
        justify-content: space-around

        .img
            
            img

            .legende

                h3
                    text-transform: $Maj
                    text-align: center
                    font-size: 24px
                    background-color: $blanc
                    padding: 8%
                    margin: 0%

    .boutons

        button:first-of-type

        button:nth-of-child(2)
            background-color: $noir